*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Open Sans', sans-serif;
}

.sans-dark {
  font-weight: 600;
}

.sans-light {
  font-weight: 300;
}

.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.c-blue {
  color: #34D1D1;
}

.c-purple {
  color: #2F2235;
}

.c-brown {
  color: #3F3244;
}

.c-offwhite {
  color: #F2F2F2;
}

.c-lightgrey {
  color: #D1D2D3;
}

.c-grey {
  color: #666666;
}

.c-black {
  color: #000000;
}

.to-upper {
  text-transform: uppercase;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  background-color: #2F2235;
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
}

header .title {
  font-size: 30px;
  padding: 10px 75px;
}

header .title span {
  color: #34D1D1;
}

header .author {
  font-size: 22px;
  padding: 10px 75px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 75px;
  background-color: #2F2235;
  color: #ffffff;
}

section {
  padding: 50px 75px;
  display: flex;
  flex-direction: column;

}

.h-rule {
  border: 0;
  height: 1px;
  width: 100%;
  margin-left: 30px;
  background-color: #D1D2D3;
  /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #D1D2D3, rgba(0, 0, 0, 0)); */
}

.section-title {
  display: flex;
  align-items: center;
}

.section-title span {
  text-transform: uppercase;
  flex-shrink: 0;
}

.section-viewcode {
  display: flex;
  justify-content: center;
}

.section-viewcode button {
  background-color: #3F3244;
  color: #ffffff;
  border: 0;
  padding: 15px 110px;
  font-size: 17px;
  cursor: pointer;
}

.tab-div {
  display: none;
  order: 5;
  border: 1px solid #D1D2D3;
  padding: 15px;
}

#tab1 {
  display: block;
  /* order: 5; */
  /* flex: 1; */
}

.tab-links {
  display: flex;
  flex-wrap: wrap;
}

.tab-label {
  flex-shrink: 0;
  border: 1px solid #FFFFFF;
  padding: 5px 15px;
  width: 25%;
  background-color: #D1D2D3;
}

.section-main {
  padding: 50px;
}







@media screen and (max-width: 600px) {

  .tab-links {
    display: flex;
    flex-direction: column;
  }

  .tab-div {
    order: 0;
  }

  .tab-label {
    width: 100%;
  }


}
